{% extends 'index.html' %}

{% block content %}
    <br>

    <div class="container">
        <div class="row">
            <div>
             <h4 class="center-align" >Join PetSitter</h4>
            </div>
        </div>
      <div class="row">
    <form class="col s12" method="POST" action="{% url 'register' %}">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="First Name" name="first_name"  >
        </div>
      </div>
        {% if form.errors.first_name %}
                     <div class="red-text lighten-2" role="alert" >{{ form.errors.first_name }}</div>
         {% endif %}
     <div class="row">
        <div class="input-field col s12">
          <input placeholder="Last Name" name="last_name" type="text" >
        </div>

      </div>
         {% if form.errors.last_name %}
                     <div class="red-text lighten-2" role="alert" >{{ form.errors.last_name }}</div>
         {% endif %}

      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Password" name="password" type="password" >
        </div>
      </div>
        {% if form.errors.password %}
                     <div class="red-text lighten-2" role="alert" >{{ form.errors.password}}</div>
         {% endif %}
    <div class="row">
          <div class="input-field col s12">
          <input placeholder="Password Confirmation" name="password_confirmation" type="password" >
        </div>
      </div>
     {% if form.errors.password_confirmation %}
                     <div class="red-text lighten-2" role="alert" >{{ form.errors.password_confirmation}}</div>
         {% endif %}
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Email" name="email" type="email" >
        </div>

      </div>
    {% if form.errors.email %}
                     <div class="red-text lighten-2" role="alert" >{{ form.errors.email}}</div>
         {% endif %}
    {% if form.non_field_errors %}
                     <div class="alert alert-danger alert-dismissable" role="alert" >{{ form.non_field_errors }}</div>
                 {% endif %}

        <div class="row">
            <div class="center-align">
        <button style="" type="submit" class="btn-floating btn-large waves-effect waves-light red lighten-2 pulse"><i class="material-icons">pets</i></button>
            </div>
        </div>
        {% csrf_token %}

    </form>
  </div>

    </div>

 <br> <br> <br> <br> <br> <br> <br>


{% endblock %}